:last-child// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
		height: 100%;
		font-family: sans-serif;
}

	// max width for website
	@maxWidthWebsite: 800px;

	// base font sizes
	@defaultFontSize: 62.5%;

	// styles
	:root {
  font-size: @defaultFontSize;
	}
	//fonts
	@h1: 4.5rem;
	@h2: 2.5rem;
	@h3: 2rem;
	@h4: 1.75rem;
	@h5: 1.5rem;
	@p: 1.25rem;
	

	//children styling
	@child-padding: 1rem;
	@child-paragraph: .5rem 0rem .75rem 0rem;
	@h2-padding: 1rem 1rem 1rem 0rem;
	@h4-padding: 1rem 1rem 0.5rem 0rem;

	// mobile breakpoint

	@mobileMode: 500px;
	


#container {
	margin: 0 auto;
	max-width: @maxWidthWebsite;
		h1 {
		font-size: @h1;
		}
		h2 {
		font-size: @h2;
		}
		h3 {
		font-size: @h3;
		}
		h4 {
		font-size: @h4;
		}
		h5 {
		font-size: @h5;
		}
		p {
			font-size: @p;
		}
		ul li {
			font-size: @h5;
		}
	}

	header{
		display: flex;
		justify-content: flex-end;
		@media(max-width: @mobileMode) {
      justify-content: center;
    }

		nav {
			font-size: @h4;
			padding: 1rem;
		}
		nav a {
			text-decoration: none;
			color: darkslateblue;
			padding: .5rem;
		}
	}

	intro {
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: lightgrey;
		padding: 3rem 1rem 1rem 1rem;

		@media(max-width: @mobileMode) {
			margin: 1rem;
			padding: 2rem;
		}

		#main-intro {
			display: flex;
			
			justify-content: center;
			align-items: center;
			@media(max-width: @mobileMode) {
				display: flex;
				flex-direction: row-reverse;
				align-items: flex-start;
			}	
			h1 {
				order: 0; 
				width: 49%;
			}
			.mainimage {
				order: 1;
				width: 35%;
			}
		}
		h2 {
			padding: @h2-padding;
		}
		p {
			padding: @child-padding;
		}
		
		.button {
			order: 4;
			width: 25%;
			border: 1px solid black;
			margin: 1rem 2rem 1rem 5rem;
			padding: 1rem .5rem 1rem .5rem;
			background-color: white;
			text-align: center;
			align-items: center;
			font-size: @p;
			 
			a {
				text-decoration: none;
				color: darkslateblue;
			}
		}
		
	}

	main {
		display: flex;
		justify-content: space-between;
		margin: 1rem;
		.skills {
			width: 70%;
			padding: @child-padding;
			h2 {
				padding: 1.5rem 0rem .5rem 0rem;
			}
			p {
				padding: @child-paragraph;
			}
			h4 {
				padding: @h4-padding;
			}
			.small-images {
				width: 45%;
				@media(max-width: @mobileMode) {
					width: 80%;
			}
			}
			li{
				font-size: @h5;
				padding: @h4-padding;
			}
			article {
				h1 {
					color: rgb(236, 3, 73);
					text-align: center;
					text-decoration: underline;
				}
				p {
					padding: 1.5rem 0rem;
				}
				h3 {
					padding: 1.5rem 0rem;
				}
				.associates {
					border: 2px dashed rgb(236, 3, 73);
					width: 50%;
					align-items: center;
					display: flex;
					flex-wrap: wrap;
					
					padding: .5rem;
					margin: .5rem;
					@media(max-width: @mobileMode) {
						width: 90%;
				}
				}
				.pics {
					@media(max-width: @mobileMode) {
						width: 100%;
						display: flex;
						flex-direction: column-reverse;
						justify-content: center;
						align-items: center;
					}
				}
			}
		}
		.list { 
			order: 1;
			width: 30%;
			padding: @child-padding;
			background-color: whitesmoke;
			line-height: 2;
			li {
				padding: @child-paragraph
			}
		}
	}

	section {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: @child-padding;
		margin: 1rem;
		h3 {
			padding: @child-paragraph;
		}
		th {
			font-size: @h5;
			padding: @child-paragraph;
			font-weight: bold;
			text-align: left;
		}
		td {
			font-size: @p;
			padding: @child-paragraph;
		}
	}

	footer {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: lightgrey;
		padding: @child-padding;
		color: white;
	}